<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Team10">

    <title>Passenger Screening</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">BU ECE EC601</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#upload">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Passenger Screening</h1>
              <p class="intro-text">An Machine Learning Algorithm to detect threats from passengers.
                <br>Created by EC601 Team10</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Passenger Screening</h2>
            <p>Passenger Screening is An Machine Learning Algorithm to detect threats from passengers created by EC601 Team10. It is a
              <a href="https://www.kaggle.com/c/passenger-screening-algorithm-challenge">Kaggle Project</a> from U.S. Transportation Security Administration (TSA).</p>
            <p>This Project maybe use
              <a href="https://www.tensorflow.org">Tensorflow</a> and  
              <a href="https://aws.amazon.com/ec2/">Amazon EC2</a> with 
              <a href="http://flask.pocoo.org">Flask</a>as the platform.</p>
            <p>Passenger Screening includes machine learning part and web application part. You can check both of them on our <a href="https://github.com/leonjia0112/ec601_passenger_screening">github</a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- upload Section -->
    <section id="upload" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Upload Source Image</h2>
            <form method="post" enctype="multipart/form-data" action="/results" method="post">
              <div class="input-group">
                <input type="file" class="form-control input-lg" name ="imageName">
              </div>
              <p></p>
              <input type="submit" class="btn btn-default btn-lg" id="submit" value="Upload Image" />
            </form>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Us!</h2>
            <p>Feel free to leave us a comment, we are happy to hear from all of you!</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://ec601-team14.slack.com/messages/C750FSA4D/" class="btn btn-default btn-lg">
                  <i class="fa fa-slack fa-fw"></i>
                  <span class="network-name">Slack</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/leonjia0112/ec601_passenger_screening" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; EC601 Team10 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/grayscale.min.js"></script>

  </body>

</html>
